name: logr-db

services:
  postgres:
    image: postgres:17.5
    container_name: logr-pg
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: logr
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata: