@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 420px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --color-bw-50: oklch(0.964 0.001 105.54);
  --color-bw-100: oklch(0.927 0.004 106.19);
  --color-bw-200: oklch(0.85 0.005 106.32);
  --color-bw-300: oklch(0.768 0.011 106.58);
  --color-bw-400: oklch(0.687 0.014 106.71);
  --color-bw-500: oklch(0.606 0.018 106.87);
  --color-bw-600: oklch(0.514 0.014 106.83);
  --color-bw-700: oklch(0.418 0.011 106.83);
  --color-bw-800: oklch(0.308 0.007 106.75);
  --color-bw-900: oklch(0.199 0.004 106.69);
  --color-bw-950: oklch(0.149 0.002 106.56);

  --color-brand-50: oklch(0.979 0.022 92.47);
  --color-brand-100: oklch(0.963 0.04 94.69);
  --color-brand-200: oklch(0.922 0.083 94.04);
  --color-brand-300: oklch(0.888 0.118 93.77);
  --color-brand-400: oklch(0.854 0.145 92.72);
  --color-brand-500: oklch(0.817 0.161 89.8);
  --color-brand-600: oklch(0.713 0.142 89.87);
  --color-brand-700: oklch(0.572 0.114 90);
  --color-brand-800: oklch(0.434 0.085 89.89);
  --color-brand-900: oklch(0.269 0.05 91.72);
  --color-brand-950: oklch(0.186 0.034 97.99);

  --font-jetbrains: var(--font-jetbrains);
  --font-roboto: var(--font-roboto);
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;
  max-width: 1280px;
}

.tiny-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}

/* Hide increase/buttons controls in number input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide increase/buttons controls in number input for Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Hide scrollbars */
.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1630 0.0020 106.5300);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1630 0.0020 106.5300);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1630 0.0020 106.5300);
  --primary: oklch(0.7900 0.2440 144.8320);
  --primary-foreground: oklch(0.1630 0.0020 106.5300);
  --secondary: oklch(0.9120 0.0170 106.6700);
  --secondary-foreground: oklch(0.1990 0.0040 106.6900);
  --muted: oklch(0.9570 0.0200 106.7100);
  --muted-foreground: oklch(0.5500 0.0110 106.6800);
  --accent: oklch(0.9570 0.0200 106.7100);
  --accent-foreground: oklch(0.1990 0.0040 106.6900);
  --destructive: oklch(0.5770 0.2450 27.3250);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9120 0.0170 106.6700);
  --input: oklch(0.9120 0.0170 106.6700);
  --ring: oklch(0.7320 0.0140 106.6800);
  --chart-1: oklch(0.7900 0.2440 144.8320);
  --chart-2: oklch(0.6270 0.2650 303.9000);
  --chart-3: oklch(0.7600 0.1640 63.6240);
  --chart-4: oklch(0.6450 0.2460 16.4390);
  --chart-5: oklch(0.4880 0.2430 264.3760);
  --sidebar: oklch(0.9570 0.0200 106.7100);
  --sidebar-foreground: oklch(0.1630 0.0020 106.5300);
  --sidebar-primary: oklch(0.7900 0.2440 144.8320);
  --sidebar-primary-foreground: oklch(0.9570 0.0200 106.7100);
  --sidebar-accent: oklch(0.9570 0.0200 106.7100);
  --sidebar-accent-foreground: oklch(0.1990 0.0040 106.6900);
  --sidebar-border: oklch(0.9120 0.0170 106.6700);
  --sidebar-ring: oklch(0.7320 0.0140 106.6800);
  --font-sans: Archivo, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1630 0.0020 106.5300);
  --foreground: oklch(0.9570 0.0200 106.7100);
  --card: oklch(0.1990 0.0040 106.6900);
  --card-foreground: oklch(0.9570 0.0200 106.7100);
  --popover: oklch(0.2840 0.0050 106.6700);
  --popover-foreground: oklch(0.9570 0.0200 106.7100);
  --primary: oklch(0.8170 0.1610 89.8000);
  --primary-foreground: oklch(0.1990 0.0040 106.6900);
  --secondary: oklch(0.2840 0.0050 106.6700);
  --secondary-foreground: oklch(0.9570 0.0200 106.7100);
  --muted: oklch(0.2840 0.0050 106.6700);
  --muted-foreground: oklch(0.6470 0.0130 106.7000);
  --accent: oklch(0.3780 0.0070 106.6400);
  --accent-foreground: oklch(0.9570 0.0200 106.7100);
  --destructive: oklch(0.6200 0.2130 29.0660);
  --destructive-foreground: oklch(0.9570 0.0200 106.7100);
  --border: oklch(0.2950 0.0050 106.6700);
  --input: oklch(0.3350 0.0060 106.6500);
  --ring: oklch(0.8170 0.1610 89.8000);
  --chart-1: oklch(0.8500 0.2060 121.9800);
  --chart-2: oklch(0.7100 0.1920 44.2650);
  --chart-3: oklch(0.7300 0.1450 231.0200);
  --chart-4: oklch(0.6270 0.2650 303.9000);
  --chart-5: oklch(0.7600 0.1360 167.7810);
  --sidebar: oklch(0.1990 0.0040 106.6900);
  --sidebar-foreground: oklch(0.9570 0.0200 106.7100);
  --sidebar-primary: oklch(0.8500 0.2060 121.9800);
  --sidebar-primary-foreground: oklch(0.1630 0.0020 106.5300);
  --sidebar-accent: oklch(0.2840 0.0050 106.6700);
  --sidebar-accent-foreground: oklch(0.9570 0.0200 106.7100);
  --sidebar-border: oklch(0.2950 0.0050 106.6700);
  --sidebar-ring: oklch(0.4660 0.0100 106.7000);
  --font-sans: Archivo, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
